<div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">

            
                <a class="navbar-brand" href="#">
                    <i class="fas fa-car"></i>
                 
                </a>
              
          <ul class="nav navbar-nav">
            <li ><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a routerLink="emical">EMI calculator</a></li>
            
          </ul>
          <span>
          <button class="btn btn-light " routerLink="/login">Login</button>

          <button class="btn btn-light" routerLink="/vehicleloan">Apply Loan</button>
        </span>
        </div>
      </nav>

</div>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/2.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
  <div class="container custom-card">
  <div class="card" style="width: 18rem;">
    <img src="/assets/step1 logo.png" class="card-img-top" alt="..." height="230px" width="230px">
    <div class="card-body">
      <h5 class="card-title">Step 1</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/assets/step2 logo.png" class="card-img-top" alt="..." height="230px" width="230px">
    <div class="card-body">
      <h5 class="card-title">Step 2</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/assets/step3 logo.png" class="card-img-top" alt="..." height="230px" width="230px">
    <div class="card-body">
      <h5 class="card-title">Step 3</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
<div>
<footer class=" text-center text-lg-start custom-footer">
    <!-- Copyright -->
    <div class="text-center p-3">
      ©️ 2021 Copyright:
      <a class="text-light" href="#">VehicleLoan.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
