<!--<app-registration></app-registration>
<app-userlogin></app-userlogin>
<app-emicalculator></app-emicalculator>
<app-admindashboard></app-admindashboard> 
<app-userdashboard></app-userdashboard>
<app-vehicleloan></app-vehicleloan>
<router-outlet></router-outlet>
<app-pendingapplications></app-pendingapplications>

<router-outlet></router-outlet>
<app-loan-offers></app-loan-offers>
<app-rejectedlist></app-rejectedlist>
<app-forgotpassword></app-forgotpassword>
<app-registration></app-registration>-->



<router-outlet></router-outlet>