<div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fas fa-car"></i>
      </a>
      <ul class="nav navbar-nav">
        <li><a routerLink="/viewall">Clients</a></li>
        <li><a routerLink="/pending">Applications</a></li>
        <li><a routerLink="/reject">Rejected List</a></li>
      </ul>
      <div class="collapse navbar-collapse dorpdown-class" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle custom-bg text-light" href="#" id="navbarDarkDropdownMenuLink"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">View Profile</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <br><br>
    <h1 class="text" style="font-size: 25px;">Client List</h1>
    <hr style="width:70%">
    <p class="text" style="color: grey; font-size: 15px;">List of all approved users.
    <p> <br>
  </div>
  <table id="table">
    <tr>
      <th> INDEX </th>
      <th> Name</th>
      <th> Manufacturer </th>
      <th> Vehicle Type </th>
      <th>Vehicle Model</th>
      <th> INTEREST RATE (%) </th>
      <th>Monthly EMI</th>
      <th> LOAN AMOUNT </th>
      <th> TENURE </th>
      <th> Start Date </th>
      <th> End Date </th>
    </tr>
    <tr *ngFor="let c of clients; let i = index;">
      <td> {{i + 1}}</td>
      <td>{{c.first_name}} {{c.last_name}}</td>
      <td>{{c.manufacturer}}</td>
      <td> {{c.vehicle_type}}</td>
      <td> {{c.vehicle_model}}</td>
      <td> {{c.rate_of_interest}}</td>
      <td> {{c.monthly_emi}}</td>
      <td> {{c.loan_amount}}</td>
      <td> {{c.loan_tenure}}</td>
      <td> {{c.start_date}}</td>
      <td> {{c.end_date}}</td>

    </tr>
  </table>
</div>