
.jumbotron {
  position: relative;
  width: 100%;
  color: black;
  font-weight: bolder;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.submit-button{
  margin: 5rem;
  width: 45rem;
  top: 85%;
  left: 30%;
  text-align: center;
  
  }
 .submit-button button{
  text-align: center;
  font-size: 1.5rem;
  }

.form-group{

width: fit-content;
margin: 0rem 0rem 1rem 5rem;
}

label{
margin: 1rem 0;
font-size: 1.5rem;
}
input{
  border-width: 0px 0px 2px 0px solid black;
}
.container {
  border:1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 black;
  width: 50%;
  padding: 20px;
  padding-bottom: 10%;
  border: 1px solid #0e0c0c;
  background-color:white;
 font-family: 'Lora', serif;;
  
}
/*.form-group input {
  height: 8rem;
  width: 48rem;
  border-width: 0px 0px 2px 0px solid black;
}*/
.input-group input {
  height: 2rem;
  width: 50rem;
  border-width: 0px 0px 2px 0px solid black;
}
li a:hover{
  background-color: white;
  color:rgb(14, 80, 124);
  font-weight: bold;  
}
li a{
  font-family:Georgia, 'Times New Roman', Times, serif;
  transition: 0.5s ease-in;
  text-decoration: none;
  color: white;
  padding-right: 10px;
  
  font-size: 1.6rem;

}
.navbar{
  background-color: rgb(14, 80, 124);
  margin-bottom: 10px;
}
.navbar-brand{
  text-decoration: none;
  height: 50px;
  width: 50px;
}
i{
  font-size: 2.5rem;
  color: white;
  margin-right: 1rem;
  padding-right: 1rem;
}

.btn{
  float: right;
  margin: 7px 5px 7px 5px;
  width: 10rem;
  font-weight: bold;
  
  transition: 0.25s;
  
}
.btn:hover{
  box-shadow: 0 0 12px 0 #d9edf7;
}
.custom-footer{
    position: relative;
  margin-top: 50px;
  background: rgb(14, 80, 124);
  color: white;  
}