.jumbotron {
    position: relative;
    background: rgb(14, 80, 124) url("https://s14.postimg.org/brfoy05nl/homeloan.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit-button{
    margin: 5rem;
    width: 45rem;
    top: 85%;
    left: 30%;
    text-align: center;
    
    }
   .submit-button button{
    text-align: center;
    font-size: 1.5rem;
    }

.form-group{
  
  width: fit-content;
  margin: 1rem 0rem 1rem 5rem;
}

label{
  margin: 1rem 0;
  font-size: 1.5rem;
}
input{
    border-width: 0px 0px 2px 0px solid black;
    font-size: 1.5rem;
    width: 60%;
}
.container {
    border-radius: 10px;
    width: 50%;
    height: 70%;
    padding: 20px;
    border: 1px solid #0e0c0c;
    background-color: aliceblue;
    
  }
  .form-group input {
    height: 4rem;
    width: 48rem;
    border-width: 0px 0px 2px 0px solid black;
  }
  .input-group input {
    height: 4rem;
    width: 50rem;
    border-width: 0px 0px 2px 0px solid black;
  }