<div >
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" href="#">
            <i class="fas fa-car"></i>                 
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Loan Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">EMI Scheduler</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" >
              Settings
            </a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item " href="#"><i class="fas fa-user-circle">My profile</i></a></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt">Log Out</i></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class = "container">
    <div class="content" style="margin-top: 10px; margin-bottom: 10px; color: #365040; border: 1px solid;"> 
       <!-- Hello <u><b>{{userName}} {{userLast}}</b></u>!<br><br>
        <b>Your User ID is : </b><p>{{userId}}</p><br>
        <b>Your Age is: </b><p>{{userAge}}</p><br>
        <b>Your Address is: </b><p>{{userAddress}}</p><br>
        <b>Your Mail ID is: </b><p>{{userEmail}}</p><br>
        <b>Your Gender is:</b><p>{{userGender}}</p><br>
        <b>Youe ZipCode is:</b><p>{{userZip}}</p><br><br>
        <button class='btn login' (click)="update()">Update Details</button>-->
       <h2> Hello !</h2><br><br>
        <b>Your User ID is : </b><br><br>
        <b>Your Age is: </b><br><br>
        <b>Your Address is: </b><br><br>
        <b>Your Mail ID is: </b><br><br>
        <b>Your Gender is:</b><br><br>
        <b>Youe ZipCode is:</b><br><br>
        <button class='btn login' (click)="update()">Update Details</button>
    </div>
</div>
<div >
    <footer class=" text-center text-lg-start custom-footer">
        <!-- Copyright -->
        <div class="text-center p-3">
          © 2021 Copyright:
          <a class="text-light" href="#">VehicleLoan.com</a>
        </div>
        <!-- Copyright -->
      </footer>
</div>

