<div class="container" >
  <div class="w3-card-4" >
    <h1>Application Form</h1>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="employmentform">
    <form [formGroup]="employmentform">
      <ng-template matStepLabel>Employment Details</ng-template>
      <mat-form-field>
        <mat-label>Employement Type</mat-label>
        <select matNativeControl formControlName="employementType" [(ngModel)]="emp.employementType" required>
          <option>Salaried</option>
          <option>Self Employed</option>
          <option>Self Employed Professional</option>
          <option>Retired</option>    
        </select>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Salary</mat-label>
        <input matInput  type="number" placeholder="Enter Salary" formControlName="annualSalary" [(ngModel)]="emp.annualSalary" required>
        
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Existing EMI</mat-label>
        <input matInput type="number" placeholder="Existing EMI amount" formControlName="emi" [(ngModel)]="emp.emi" required>
        
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Other Sources</mat-label>
        <input matInput type="number" placeholder="Other Sources of Income" formControlName="otherIncome" [(ngModel)]="emp.otherIncome" required>
        
      </mat-form-field>
      <div>
        <button class="btn btn-primary" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="vehicleform">
    <form [formGroup]="vehicleform">
      <ng-template matStepLabel>Vehicle Details</ng-template>
      <mat-form-field>
        <mat-label>Manufacturer</mat-label>
        <input matInput placeholder="Manufacturer" formControlName="manufacturer"  [(ngModel)]="vehicle.manufacturer" required>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Type</mat-label>
        <select matNativeControl formControlName="vehicleType"  [(ngModel)]="vehicle.vehicleType" required>
          <option>2 Wheeler</option>
          <option>4 Wheeler</option>
             
        </select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Model</mat-label>
        <input matInput placeholder="Model" formControlName="vehicleModel" [(ngModel)]="vehicle.vehicleModel" required>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Ex-ShowroomPrice</mat-label>
        <input matInput type="number" placeholder="ExShowroom Price" formControlName="exShowroomPrice" [(ngModel)]="vehicle.exShowroomPrice" required>
      </mat-form-field>
      <br />
      <div>
        <button  class="btn btn-primary" mat-button matStepperPrevious>Back</button>
        <button class="btn btn-primary" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="documentsform">
    <form [formGroup]="documentsform">
      <ng-template matStepLabel>Documents Details</ng-template>
      <div>
        <label>Aadhar Card</label>
        <input  type="file" placeholder="Aadhar card" formControlName="aadhar_card" >
      </div>
      <div>
        <label>Pan Card</label>
        <input  type="file" placeholder="Pan card" formControlName="pan_card" >
      </div>
      <div>
        <label>Salary Slip</label>
        <input  type="file" placeholder="Salary Slip" formControlName="salary_slip" >
      </div>
      <div>
        <label>Photo</label>
        <input  type="file" placeholder="Photo" formControlName="photo" >
      </div>
        
      <br />
      <div>
        <button  class="btn btn-primary" mat-button matStepperPrevious>Back</button>
        <button class="btn btn-primary" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

 <!--<mat-step [stepControl]="documentsform">
    <form [formGroup]="documentsform">
      <ng-template matStepLabel>Documents Details</ng-template>
      <mat-form-field>
        <mat-label>Aadhar Card</mat-label>
        <input  matInput type="url" placeholder="Aadhar card" formControlName="aadhar_card" >
         
        </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>PanCard</mat-label>
        <input matInput type="url" placeholder="PanCard" formControlName="pan_card" required>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Salary Slip</mat-label>
        <input matInput type="url" placeholder="Salary Slip" formControlName="salary_slip" required>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Photo</mat-label>
        <input matInput type="url" placeholder="Photo" formControlName="photo" required>
      </mat-form-field>
      <br />
      <div>
        <button  class="btn btn-primary" mat-button matStepperPrevious>Back</button>
        <button class="btn btn-primary" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>-->




  <mat-step [stepControl]="loandetailsform">
    <form [formGroup]="loandetailsform">
      <ng-template matStepLabel>Loan Details</ng-template>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput type="number" placeholder="amount" formControlName="loanAmount" [(ngModel)]="loan1.loanAmount" required>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Loan Tenure</mat-label>
        <select matNativeControl formControlName="loanTenure" [(ngModel)]="loan1.loanTenure" required>
          <option>5 Years</option>
          <option>10 Years</option>
          <option>15 Years</option>
          <option>20 Years</option>    
        </select>
        
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>ROI</mat-label>
        <input matInput placeholder="ROI" formControlName="rateOfInterest" [(ngModel)]="loan1.rateOfInterest" required>
      
      </mat-form-field>
      <br />
      <mat-form-field>
        <label>Start Date</label>
        <input matInput type="Date"  formControlName="startDate" [(ngModel)]="loan1.startDate" required>
        
      </mat-form-field>
      <div>
        <button class="btn btn-primary" mat-button matStepperPrevious>Back</button>
        <button class="btn btn-primary" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>

    <mat-list>
      <mat-list-item> <strong>Employement Type:</strong> {{ this.employmentform?.value?.employementType }}
      </mat-list-item>
      <mat-list-item> <strong>Salary:</strong> {{ this.employmentform?.value?.annualSalary }}</mat-list-item>
      <mat-list-item> <strong>Existing EMI:</strong> {{ this.employmentform?.value?.emi }}</mat-list-item>
      <mat-list-item> <strong>Other Sources:</strong> {{ this.employmentform?.value?.otherIncome }}</mat-list-item>

      <mat-list-item> <strong>Manufacturer:</strong> {{ this.vehicleform?.value?.manufacturer }}</mat-list-item>
      <mat-list-item> <strong>Vehicle Type:</strong> {{ this.vehicleform?.value?.vehicleType }}</mat-list-item>
      <mat-list-item> <strong>Model:</strong> {{ this.vehicleform?.value?.vehicleModel }}</mat-list-item>
      <mat-list-item> <strong>Ex-Showroom Price:</strong> {{ this.vehicleform?.value?.exShowroomPrice }}</mat-list-item>

      <mat-list-item> <strong>Amount:</strong> {{ this.loandetailsform?.value?.loanAmount }}</mat-list-item>
      <mat-list-item> <strong>Loan Tenure:</strong> {{ this.loandetailsform?.value?.loanTenure }}</mat-list-item>
      <mat-list-item> <strong>ROI:</strong> {{ this.loandetailsform?.value?.rateOfInterest }}</mat-list-item>
      <mat-list-item> <strong>Start-Date:</strong> {{ this.loandetailsform?.value?.startDate }}</mat-list-item>

    </mat-list>

    <div>
      <button class="btn btn-primary" mat-button matStepperPrevious>Back</button>
      <button class="btn btn-primary" mat-button (click)="stepper.reset()">Reset</button>
      <button  mat-button (click)="submit()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</div>
</div>


