
.custom-card{
    margin: 5% 25% 10% 25%;
    padding: 20px;
    width: 50%;   
    border: 4px #020101;
    background-color: #fff;
	/*border: 1px solid black;*/
	box-shadow: rgb(0 0 0 / 60%) 1px 1px 5px 0px;
}
h1{
    margin: 2rem ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.custom-input-group{
    position: relative;  
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.form-group{
    margin: 1rem;
    padding: .25rem;
}
.form-group input{
    width : 60%;
    height: 2.5rem;
    text-align: center;
    outline: none;   
    border-width: 0 0 1px 0;  
}
.form-group input:focus{
    border-bottom: 2px solid rgb(3, 165, 57);
    transition: 6s ease-in;   
}
.form-group input:hover{
    border-bottom: 2px solid rgb(3, 165, 57);
    transform: scale(1.0);
}
i{
    font-size: 1.5rem;
    text-align: right;
    margin-right: .5rem;
}
.email{
    color:red;
}
.password{
    color: dodgerblue;
}
a{
    text-decoration: none;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
