<div>
  <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">

          
              <a class="navbar-brand" href="#">
                  <i class="fas fa-car"></i>
              </a>
            
        <ul class="nav navbar-nav">
          <li ><a href="#">Home</a></li>
          <li><a routerLink="/aboutus">About Us</a></li>
          <li><a routerLink="/emical">EMI calculator</a></li>
         <li> <a  routerLink="/eligible">Check Eligibility</a></li>

          
        </ul>
        <span>
          <div class="collapse navbar-collapse dorpdown-class" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle custom-bg login" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" routerLink="/login">User</a></li>
                  <li><a class="dropdown-item" routerLink="/alogin">Admin</a></li>
                </ul>
              </li>
            </ul>
          </div>   

      </span>
      </div>
    </nav>

</div>
<div class="container">
    <div>
        <h2><b>About Us</b></h2>
        <p>MyLoanCare.in is among India’s leading online loans marketplace led by a Gurgaon based team of
            techno-financial experts working on a mission to bring transparency, simplicity and convenience in the way
            people borrow money. MyLoanCare’s state-of-the-art, home-grown technology platform enables online delivery
            of loans and related services to customers with speed and transparency.</p>
    </div>
    <div>
        <h2><b>Partners</b></h2>
        <p>We have partnered with over 25 leading banks and finance companies operations for providing retail and SME
            credit across the country.

        </p>

    </div>
    <div>
        <h2><b>Contact Us</b></h2>
        <p><b>Email</b>: pamzloanservices@gmail.com</p>
        <p><b>Phone No.</b>: 1800-180-180</p>

    </div>
</div>
<div>
    <footer class=" text-center text-lg-start custom-footer">
        <!-- Copyright -->
        <div class="text-center p-3">
            ©️ 2021 Copyright:
            <a class="text-light" href="#">VehicleLoan.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>